.show-item {
	margin-bottom: 10px;
  background-color: #fff;
  flex: 1 1 80px;
  align-items: center;
  color: #fff;
  border-radius: 4%;
  overflow: hidden;
  margin: 5%;


  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  img{
    height: 260px;
    width: 100%;
  }
  .container{
    width: 100%;
    padding: 5%;
    font-family: Georgia, Times, Serif;
    color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    overflow: hidden;

    .title{
      font-size: 1.5em;
      margin-bottom: 2%;

    }
    .year{
      font-size: 1rem;
    }

    .desc{
      font-size: 0.90rem;
    }
  }
}

