<div class="show-item" cmCursorChange>
  <img [src]="comic.images[0].path + '/portrait_fantastic.' + comic.images[0].extension" alt="Avatar" *ngIf="comic.images && comic.images.length>0 && comic.images[0].path; else noimage"/>
  <div class="container" >
    <div class="title">{{ comic.title }}</div>
  </div>
</div>


<ng-template #noimage >
  <img src="https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png" alt="No image for the comic">
</ng-template>
