.principal{

  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form{
    width: 80%;
  }
  .shows-container{
    width: 80%;
    .show-items {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
      gap: 1em;
    }
  }

}








